* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Quitar la linea negra del a */
:root {
  --coffee: #6f5242ff;
  --champagne-pink: #dccabcff;
  --khaki: #c2b7a5ff;
  --timberwolf: #e1dad2ff;
  --walnut-brown: #685c4aff;
  --battleship-gray: rgba(143, 143, 138, 0.5);
  --cadet-gray: rgba(164, 171, 173, 0.5);
  --french-gray: rgba(186, 192, 199, 0.8);
  --pearl: rgba(218, 213, 182, 0.7);
  --bone: rgba(229, 223, 207, 0.7);
  --buff: rgba(203, 150, 97, 0.7);
  --chinese-violet: rgba(112, 94, 121, 0.7);
  --dark-goldenrod: rgba(188, 133, 4, 0.7);
}
a {
  text-decoration: none;
  color: #000;
  /* display: inline-block; */
}
header {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  
}
header img {
  object-fit: cover;
  width: 100%;
  max-width: 150px;
  height: 100%;
  border-radius: 4px;
}

header figure, header nav{
  flex:1;
}
header figure{
  padding-left: 5em;
}
header nav{
  margin-top: .5rem;
  text-align: right;
  padding-right: 5em;
}




/* header div > p {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  display: inline-block;
  background-color: #faedcd;
  border: medium solid #540b0b;
  border-radius: 10px;
  color: #e6e6e6;
  vertical-align: middle;

  background: hsla(1, 62%, 48%, 1);

  background: linear-gradient(
    180deg,
    hsla(1, 62%, 48%, 1) 0%,
    hsla(0, 0%, 0%, 1) 36%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(1, 62%, 48%, 1) 0%,
    hsla(0, 0%, 0%, 1) 36%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(1, 62%, 48%, 1) 0%,
    hsla(0, 0%, 0%, 1) 36%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5302E", endColorstr="#000000", GradientType=1 );
} */
nav a {
  color: #000;
  background-color: var(--timberwolf);
  padding: 0.8rem 0.5rem;
  border-radius: 50px;

  border: medium solid var(--champagne-pink);
}

#div__inicio #sectionTwo {
  min-height: 90vh;
  max-height: 100vh;
}
#div__inicio {
  width: 100%;
  background: url(../img/pexels-duané-viljoen-10604607.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.centrado {
  min-height: 70vh;
  min-width: 1200px;
  max-width: 1400px;
  padding: 5% 10%;
}

#div__titular {
  padding: calc(50% / 2);
}
#div__titular >div {
  background-color: rgba(220, 202, 188, 0.8);
  border-radius: 4px;
  padding: 1rem;
}
#div__titular div div:nth-last-of-type(1){
  text-align: center;
}
#div__titular a{
  background-color: rgba(203, 150, 97, 1);
  display: inline-block;
  padding: .7em;
  border-radius: 4px;
  border: 2px solid var(--bone);
  margin-top: .6em;
}

h1 small {
  display: block;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding-bottom: 3%;
  font-family: "Kaushan Script", cursive;
  text-shadow: 8px 5px 11px rgba(0, 0, 0, 0.7);
}

.btnComprar {
  display: inline-block;
  background-color: var(--coffee);
  color: #deddd3;
  padding: 6px;
  border-radius: 4px;
  transition: 1.4s;
  border: 2px solid transparent;
}

.btnComprar:hover{
  background-color: var(--dark-goldenrod);
  border: 2px solid var(--dark-goldenrod);
}

#div__inicio p {
  text-align: justify;
}


/* ------------------------------------sectionTwo-------------------------------------------- */

#sectionTwo {
  background-color: var(--champagne-pink);
  min-height: 45em;
}

#sectionTwo p:first-of-type {
  margin-bottom: 1em;
}

#sectionTwo img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

#div__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

#div__flex article {
  width: calc((100% - 2em) / 2);
  display: flex;
  background-color: rgba(194, 183, 165, 0.4);
  flex: 1 1 calc((100% - 2em) / 2);
  gap: 1em;
  border-radius: 4px;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;
}

#div__flex article div {
  flex: 1 1 calc(100% / 2);
  text-align: justify;
  height: 100%;
}
#div__flex article div figure {
  height: 100%;
}

#div__flex article div img {
  object-fit: cover;
}

#div__flex article:nth-of-type(2) div img {
  object-position: 54% 0;
}
#div__flex article h3 {
  margin-bottom: 1em;
}

#sectionTwo a {
  padding: 0.5em;
  border-radius: 5px;
}

/* --------------------------------------------------------------------section 3 ------------------------------------------------------------ */

#sectionThree {
  background-image: url(../img/pexels-karolina-grabowska-8361478.png);
  background-repeat: no-repeat;

  background-position-y: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: difference;
}

#sectionThree .centrado > div {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 2rem 1.5rem;
  padding: 2rem;
  background-color: var(--french-gray);
  border-radius: 8px;
  justify-content: center;
  max-height: max-content;
}

#sectionThree div figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.article__grid {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  max-height: max-content;
  flex-direction: column;
}

.article__grid h3 {
  /* flex: auto; */
  /* flex:none; */
  text-align: center;
  background-color: rgba(164, 171, 173, 0.8);
  border-radius: 4px;
  padding: 0.3rem 0.2rem;
}
/* .article__grid figure{
  flex:4;
}  */
.article__grid figure {
  height: 100%;
}

.article__grid:nth-of-type(8) {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}
.article__grid:nth-of-type(4) {
  grid-row: 4;
  grid-column: 3 / span 2;
}
.article__grid:nth-of-type(9) {
  grid-row: 4;
  grid-column: 1 / span 2;
}
.article__grid:nth-of-type(6) {
  grid-row: 3;
  grid-column: 1 / span 3;
}

/* -------------------------------------------------------------------------------section 4 -------------------------------------------------- */

#sectionFour {
  background-color: var(--khaki);
}
#sectionFour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#sectionFour .centrado div {
  display: flex;
  gap: 4em;
  align-items: center;
}

#sectionFour article {
  /* flex: 1 1 calc((100% - 8rem) / 3); */
  flex: 2;
  background-color: var(--battleship-gray);
  padding: 2rem;
  border-radius: 8px;
  border: 2px var(--cadet-gray) solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20%;
}

#sectionFour article h3{
  margin-bottom: .5em;
}

#sectionFour article div {
  /* flex: 1 1 calc(10%); */
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

#sectionFour article figure {
  flex: 1 1 60%;
  margin-bottom: 1em;
}

#sectionFour article div:nth-last-of-type(2){
  margin-bottom: 1em;
}

.div__precio {
  display: flex;
  justify-content: space-between;
}


/* ---------section5--------------------------------------- */
#sectionFive {
  background-color: var(--timberwolf);
}
#sectionFive .centrado {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#sectionFive .centrado > div {
  flex: 1;
}
#sectionFive .centrado form {
  flex: 2;
  display: flex;
  
  justify-content: space-around;
}
#sectionFive h3 {
  text-align: justify;
}
#sectionFive p {
  text-align: justify;
}
#sectionFive p span {
  display: block;
}

/* ----------------------------------form---------------------------------- */
form label,
form input[type="text"],
form textarea,
form input[type="email"] {
  display: block;
  width: 100%;
}

form fieldset label,
form div > label:nth-of-type(3) {
  display: inline;
}

form input[type="text"],
form input[type="email"],
form textarea,
form fieldset {
  margin-bottom: 1rem;
}
fieldset {
  border: none;
}

textarea {
  resize: none;
  height: 80%;
}

form input[type="submit"] {
  align-self: flex-end;
}

form div div {
  text-align: right;
}

/* --------------------------------------------------------------footer----------------------------------------------------------- */

footer {
  background: url(../img/GoldFeatherCanvaWeddingInvitationTemplates.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 350px;
  display: flex;
  background-attachment: fixed;
}
footer img {
  border-radius: 100%;
  /* width: 100%;
  height: 100%; */
  max-width: 50%;
  object-fit: cover;
  justify-items: flex-end;
  border: 5px solid rgba(112, 94, 121, 1);
  align-self: flex-end;
}

footer figure {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* text-align: center; */
}

footer figure,
footer div,
footer table {
  flex: 1;
  padding: 1rem;
}

footer caption {
  background-color: rgba(112, 94, 121, 0.8);
  border-radius: 4px 4px 0 0;
}
footer {
  justify-items: flex-end;
}
ul {
  list-style-position: inside;
}

footer div div {
  background-color: rgba(112, 94, 121, 0.8);
  border-radius: 4px;
}

footer *{
  color: #f0e2e2;
}


table{
  text-align: left;
  background-color: rgba(112, 94, 121, 0.8);
  border-radius: 0 0 4px 4px;
  border-collapse: collapse;
}
thead{
  display: inline;
}
tbody{
  display: inline;
}
th, td{
  border-bottom: 2px solid var(--timberwolf);
  padding: .5rem;
}
thead tr:last-of-type th, tbody tr:last-of-type td{
  border: 0px;
}
footer > div:last-of-type{
  align-self: flex-end;
  text-align: right;
  vertical-align: middle;
}
footer > div:last-of-type a{
  background-color: rgba(112, 94, 121, 1);
  border: 2px solid var(--buff);
  
  padding: 10px 5px;
  vertical-align: top;
  display: inline-block;

}
footer > div:last-of-type{
  vertical-align: middle;
}
footer > div:last-of-type a img{
 vertical-align: bottom;
 width: 1.5rem;
 display: inline-block;
 border: 2px;
}

/* ---------------------------------------------------------------Modificaciones y detalles------------------------------- */
h2::before{
 content: "";
 border-top: 5px solid var(--coffee);
 display: block;
 width: 10rem;
 margin-bottom: .5rem;
}
h2, h2+p{
  margin-bottom: 1rem;
}

nav a{
  transition: 1s;
}
nav a:hover{
 background-color: var(--pearl);
}